{% extends 'base.html.twig' %}

{% block title %}New UserLogin{% endblock %}

{% block body %}
    <h1>Create new UserLogin</h1>

    {{ include('user_login/_form.html.twig') }}

    <a href="{{ path('user_login_index') }}">back to list</a>
{% endblock %}
